<h1>Listing servquals for <%= @current_user.name %></h1>

<table class="table table-hover">
  <tr>
    <th>Survey</th>
    <th>Dimension</th>
    <th>Question</th>
    <th>Order</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @servquals.each do |servqual| %>
    <% #if (servqual.dimension.survey.user_id == @current_user.id) %>
  <tr>
    <td><%= servqual.dimension.survey.title %></td>
    <td><%= servqual.dimension.name %></td>
    <td><%= servqual.question %></td>
    <td><%= servqual.order %></td>
    <td><%= servqual.status %></td>
    <td><%= link_to 'Show', servqual %></td>
    <td><%= link_to 'Edit', edit_servqual_path(servqual) %></td>
    <td><%= link_to 'Destroy', servqual, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
  <% #end %>
<% end %>
</table>

<br />


<%= link_to 'New Servqual', new_servqual_path %>
