<h1>Listing servquals</h1>

<table>
  <tr>
    <th>User</th>
    <th>Survey</th>
    <th>Dimension</th>
    <th>Question</th>
    <th>Order</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @servquals.each do |servqual| %>
  <tr>
    <td><%= servqual.dimension.survey.user.name %></td>
    <td><%= servqual.dimension.survey.title %></td>
    <td><%= servqual.dimension.name %></td>
    <td><%= servqual.question %></td>
    <td><%= servqual.order %></td>
    <td><%= servqual.status %></td>
    <td><%= link_to 'Show', servqual %></td>
    <td><%= link_to 'Edit', edit_servqual_path(servqual) %></td>
    <td><%= link_to 'Destroy', servqual, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Servqual', new_servqual_path %>
