<%= form_for(@dimension) do |f| %>
  <% if @dimension.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dimension.errors.count, "error") %> prohibited this dimension from being saved:</h2>

      <ul>
      <% @dimension.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= select("dimension", "status", EnumStatus::STATUS) %>
  </div>
  <div class="field">
    <%= f.label :survey_id %><br />
    <%= f.text_field :survey_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
