<h1>Listing dimensions for <%= @current_user.name %></h1>

<table class="table table-hover">
  <tr>
    <th>Survey</th>
    <th>Name</th>
    <th>Description</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @dimensions.each do |dimension| %>
<% if (dimension.survey.user_id == @current_user.id) %>
  <tr>
    <td><%= dimension.survey.title %></td>
    <td><%= dimension.name %></td>
    <td><%= dimension.description %></td>
    <td><%= dimension.status %></td>
    <td><%= link_to 'Show', dimension %></td>
    <td><%= link_to 'Edit', edit_dimension_path(dimension) %></td>
    <td><%= link_to 'Destroy', dimension, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
  <% end %>
<% end %>
</table>

<br />

<%= link_to 'New Dimension', new_dimension_path %>
