<p id="notice"><%= notice %></p>

<p>
  <b>Levelmin:</b>
  <%= @responseservqual.levelmin %>
</p>

<p>
  <b>Levelmax:</b>
  <%= @responseservqual.levelmax %>
</p>

<p>
  <b>Levelper:</b>
  <%= @responseservqual.levelper %>
</p>


<%= link_to 'Edit', edit_responseservqual_path(@responseservqual) %> |
<%= link_to 'Back', responseservquals_path %>
