<h1>Listing surveys for <%= @current_user.name %></h1>

<table class="table table-hover">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Initialtext</th>
    <th>Token</th>
    <th>Nvalue</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @surveys.each do |survey| %>
  <tr>
    <td><%= survey.title %></td>
    <td><%= survey.description %></td>
    <td><%= survey.initialtext %></td>
    <td><%= survey.token %></td>
    <td><%= survey.nvalue %></td>
    <td><%= survey.status %></td>
    <td><%= link_to 'Show', survey %></td>
    <td><%= link_to 'Edit', edit_survey_path(survey) %></td>
    <td><%= link_to 'Destroy', survey, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <td><%= link_to 'Ask', list_servqual_path(survey.id) %></td>
  </tr>
<tr class="info" style="border-bottom: 2px solid #DFDFDF">
    <td colspan=10>
        <i class="icon-tasks"></i>
        <%= "Dimensions evaluated" %>
            <%= survey.dimensions.map(&:name).to_s [survey.dimensions.map(&:status) => "OFF"]%>
    </td>
</tr>
<% end %>
</table>

<br />

<%= link_to 'New Survey', new_survey_path, :class => "btn btn-primary" %>
