<p id="notice"><%= notice %></p>

<h4>Structure of Survey</h4>
<table class="table table-bordered">
<tr><td>
  <b>Title:</b>  <%= @survey.title %>
</td></tr>

<tr><td>
  <b>Description:</b>
  <%= @survey.description %>
</td></tr>

<tr><td>
  <b>Initialtext:</b>
  <%= @survey.initialtext %>
</td></tr>

<tr><td>
  <b>Token:</b>
  <%= @survey.token %>
</td></tr>

<tr><td>
  <b>Nvalue:</b>
  <%= @survey.nvalue %>
</td></tr>

<tr><td>
  <b>Status:</b>
  <%= @survey.status %>
</td></tr>
</table>
<%= link_to 'Edit', edit_survey_path(@survey), :class => "btn btn-primary" %>
<%= link_to 'Back', surveys_path, :class => "btn btn-inverse" %>

<hr />
<h4>Structure of Servqual</h4>
<table class="table table-striped">
  <tr>
    <th>Dimension</th>
    <th>Question</th>
    <th>Order</th>
    <th>Status</th>
  </tr>
  <% @servquals.each do |servqual| %>
    <tr>
     <td><%= servqual.dimension.name %></td>
     <td><%= servqual.question %></td>
     <td><%= servqual.order %></td>
     <td><%= servqual.status %></td>
    </tr>
  <% end %>
</table>
